@import "colors";

.source.css,
.source.css.less {
  .variable {
    color: @my-cyan;  
  }

  .selector .tag {
    color: @my-blue;
  }

  .selector.class,
  .property-list.class,
  .attribute-name.class {
    .punctuation.definition {
      color: @my-brown;
    }
    color: @my-brown;
  }

  .property-list {
    .property-name {
      color: @my-green-bright;
    }
  }

}
