@import "colors";


.js.jsx {
  .tag {
    color: @code-font-color;
  }

  .variable.other.class.js {
    color: @entity;
  }

  .tag.decorator.js .entity.name.tag.js {
    color: @my-violet-dim;
  }

  /*  here and below
      first selector covers "language-babel" package
      second selector covers "react" package  */
  .tag.open,
  .tag.open .entity.name.tag.js {
    color: @oceanic-red;
    //color: @my-green-bright;
  }

  .tag.close,
  .tag.closed .entity.name.tag.js {
    color: fadeout(@oceanic-red, 0%);;
    //color: @oceanic-red;
  }

  .punctuation.definition.tag {
    color: lighten(@my-background, 25%);
  }

  .meta.tag.jsx,
  .meta.tag.js {
    .entity.other.attribute-name.jsx,
    .entity.other.attribute-name.js {
      color: @oceanic-cyan;
      font-style: normal;
    }
  }

  .entity.name.function.js {

  }


  .constant.other.js {
    color: @code-font-color;
  }

}
