doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      var foo = false;
      if (foo) {
        var bar = 6;
        return bar;
      }
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
    
    //- block for dynamic content
    block dynamic-content
      
      section
        h2 But first, let's talk about <span class="pink">reasons</span>
        ul
            li Why am I doing this talk?
            li <strike>I want to share my excitement</strike>
            li <strike>I belive Slack is a better way of <span class="cyan">working</span></strike>
            li Because I 
             +icon("fa-heart-o red")
             |  Slack?

      section(data-bespoke-state='emphatic background-pink') 
        h1(style="color: white") No<span style="color:black;">!</span>


      section
        h2 Slack is killing email
        iframe(width='560' height='315' src="//www.youtube.com/embed/MHdYIYe_Dko" frameborder='0' allowfullscreen)    

      section(data-bespoke-state='emphatic background-cyan')
        h2(style="color: rgba(255, 255, 255, 0.5)") They do <span class="orange">amazing</span> things
        iframe(src="//player.vimeo.com/video/114657199" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)  

      section(data-bespoke-state='emphatic background-red') 
        h2(style="color: rgba(255, 255, 255, 0.5)") More <span class="white">FYI</span>s
    
    ul
      li item 1
      li item 2
      li item 3
